ion-header {
  --background: var(--ion-color-primary);
 
  ion-title {
    font-family: var(--ion-font-family);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}

ion-toolbar {
  --background: var(--ion-color-primary);
  
}

ion-content {
  --background: var(--ion-color-light);
  .ion-padding {
    padding: var(--ion-padding);
  }
}

ion-card {
  margin: var(--ion-padding);
  border-radius: var(--ion-border-radius);
  box-shadow: var(--ion-box-shadow);
  font-family: var(--ion-font-family);
  ion-card-header {
    background: var(--ion-color-primary-tint);
    color: var(--ion-color-primary-contrast);
    border-radius: var(--ion-border-radius) var(--ion-border-radius) 0 0;
  }
  ion-card-title {
    color: var(--ion-color-light);
    font-size: 1.2rem;
  }
  ion-card-content {
    font-size: 1rem;
    color: var(--ion-color-dark);
  }
  ion-button {
    --border-radius: var(--ion-border-radius);
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
  }
}

ion-item {
  --background: transparent;
  --border-color: var(--ion-color-medium);
  .title {
    font-weight: bold;
    color: var(--ion-color-primary);
  }
  .detail {
    color: var(--ion-color-dark);
  }
}
